/* ************************************************************************** */
/* ************************** Managing Your Home **************************** */
/* ************************************************************************** */


/* ****************************** Grupo 302 ********************************* */


/* ********************************* GERAL ********************************** */

body {
	font-family: Arial;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

td#container {
	background-color: #E2F3C1;
	position: relative; 
	width: 100%;
	height: 100%;

	text-align: center; 
}

#logo {
	width: 30%;
	margin-bottom: 15px;
}

table#layout {
	width: 100%;
	height: 100%;
}

td#sidebar {
	background-color: #DDDDDD;
	width: 150px;
	vertical-align: top;
}

td#main {	
	text-align: center;
	vertical-align: top;
	background-color: #E2F3C1;
}

table#sublayout {
	width: 100%;
	height: 100%;
}

tr#cabecalho {
	height: 15%;
}

#cabecalho td {
	vertical-align: bottom; 
	background-color: #AA0033;
}

tr#corpo {
	height: 75%;
}

#corpo td {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #AA5500;
}

tr#rodape {
	height: 10%;
}

.hcentered {
	height: 100%;
	display: -webkit-box; 
	-webkit-box-pack: center;
}

#error {
 	opacity: 100;
 	position: relative;
 	background-color: #FFEEEE;
 	width: 100%;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	color: #991111;
 	font-family: Arial;
 	font-size: 35px;
 	font-weight: bold;
 	text-align: center; 
 }


/* ********************************* LOGIN ********************************** */

#loginContainer {
	position: relative; 
}

#login {
	font-family: Arial;
	font-size: 40px;
}

td.loginLabel {
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	vertical-align: middle;
	color: #333333;
	font-size: 30px;
}

input.loginFields {
	
	width: 300px;
	height: 40px;

	color: #333333;
	font-family: Arial;
	font-size: 25px;
}

td.loginButtons {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

input.loginButtons {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #112211;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 35px;
}

input:active.loginButtons {
	background-color: #777777;
}

td.createAccountButton {
	padding: 15px;
	text-align: center;
}

input#createAccount {
	background-color: #223322;
	font-size: 20px;
}

input:active#createAccount {
	background-color: #777777;
}

/* Password */
.webkit input[type="password"]
{
  font: large Verdana,sans-serif;
  letter-spacing: 1px;
 }


 /* **************************** DEFINICOES ********************************* */

h1#settingsTitle {
	color: #112211;
	font-family: Arial;

}


/* ******************************** SIDEBAR ********************************* */

#sbarlogo img {
	width: 80%;
}

#logout img {
	width: 45%;
}

#logout {
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	color: #E2F3C1;
}

#settings img {
	width: 70%;
}

#edit img {
	width: 55%;
}

#help img {
	width: 65%;
}


.sbaritem {
	background-color: #112211;
	border: solid 2px #001100;
	border-left: solid 4px #001100;
	border-right: solid 4px #001100;
	width: 95%;
	height: 25%;
	text-align: center;
	/* Safari, Chrome, and Opera */
  	display: -webkit-box;
	-webkit-box-pack: center; 
	-webkit-box-align: center;
}

.sbaritem:link, .sbaritem:visited, .sbaritem:hover {
	background-color: #112211;
	border: solid 2px #001100;
	border-left: solid 4px #001100;
	border-right: solid 4px #001100;
}

.sbaritem:active {
	background-color: #223322;
	border: solid 2px #112211;
	border-left: solid 4px #112211;
	border-right: solid 4px #112211;
}

.toggle {
	display: none;
	position: absolute; 
	z-index: 100;
	left: 155px;
	top: 50%;
 	width: 50%;
 	height: 50%;	
 	background-color: #FFFFCC;
}


/* ******************************** PLANTA ********************************** */

 #submain {
 	position: relative;
 	width: 75%;
}

#planta {	
}

#planta img {	
	max-width: 100%;
	position: relative;
}

.item {
	max-width: 100%;
	position: absolute;
	z-index: 1;
}

#quarto1 {
	width: 36.5%;       /**/
	height: 45%;        /**/
	left: 0.5%;         /**/
	top: 1%;            /**/
	padding-top: 2%;
}


#quarto1 img {
	width: 25%;
	margin-left: 35%;
	margin-top: 6%;
}


#quarto1 .caption {
	width: 90%;
	margin-left: 2%;  /**/
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#quarto2 {
	width: 40%;
	height: 45%;
	left: 59%;
	top: 1%;
	padding-top: 2%;
}


#quarto2 img {
	width: 25%;
	margin-left: 40%;
	margin-top: 6%;
}


#quarto2 .caption {
	width: 90%;
	margin-left: 8%;
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#sala {
	width: 36.5%;
	height: 45%;
	left: 0.5%;
	top: 50%;
	padding-top: 2%;
}


#sala img {
	width: 25%;
	margin-left: 35%;
	margin-top: 5%;
}


#sala .caption {
	width: 90%;
	margin-left: 2%;
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#cozinha {
	width: 40%;
	height: 45%;
	left: 59%;
	top: 50%;
	padding-top: 2%;
}


#cozinha img {
	width: 25%;
	margin-left: 40%;
	margin-top: 5%;
}


#cozinha .caption {
	width: 90%;
	margin-left: 8%;
	margin-top: 3%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#casaBanho {
	width: 21%;
	height: 31%;
	left: 37.5%;
	top: 1%;
}


#casaBanho img {
	width: 32%;
	margin-left: 35%;
	margin-top: 7%;
}


#casaBanho .caption {
	width: 90%;
	margin-left: 6%;
	margin-top: 2%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


/* ******************************** DIVISOES ********************************** */

table#currentLocation {
	/*margin-left: 5%; */
	/*margin-bottom: 1%; */
	width: 75%;
}

td#back {
	width: 25%;
}

td#divisionTitle {
	text-align: right;
	border-bottom: solid 2px #112211;
	color: #112211;
	font-family: Arial;	
	font-weight: bold;
}

#path {
	font-size: 14pt;
}

#location {
	font-size: 24pt;
}

#submainDivision {
 	position: relative;
 	/*text-align: center; */
 	width: 75%; 
 	height: 100%;
 	overflow-y: hidden;
	overflow-x: scroll;
}

#fig{
	position: absolute; 
	z-index: 1; 
	left: 80%;
	top: 10%;
}

.itemContainer {
	position: absolute; 
}

#fundoQuarto2 img {
	max-height: 100%;
	height: 100%;
}

#fundoQuarto1 img {
	max-height: 100%;
	height: 85%;
}

#fundoCozinha img {
	height: 100%;
}

#fundoWC img {
	max-height: 34%;
	height: 34%;
}

#fundoSala img {
	max-height: 45%;
}