/* ************************************************************************** */
/* ************************** Managing Your Home **************************** */
/* ************************************************************************** */


/* ****************************** Grupo 302 ********************************* */


/* ********************************* GERAL ********************************** */

body {
	font-family: Arial;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

td#container {
	background-color: #E2F3C1;
	position: relative; 
	width: 100%;
	height: 100%;

	text-align: center; 
}

#logo {
	width: 30%;
	margin-bottom: 15px;
}

table#layout {
	width: 100%;
	height: 100%;
}

td#sidebar {
	background-color: #DDDDDD;
	width: 150px;
	vertical-align: top;
}

td#main {	
	text-align: center;
	vertical-align: top;
	background-color: #E2F3C1;
}

table#sublayout {
	width: 100%;
	height: 100%;
}

tr#cabecalho {
	height: 15%;
}

#cabecalho td {
	vertical-align: bottom; 
	background-color: #AA0033;
}

tr#corpo {
	height: 75%;
}

#corpo td {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #AA5500;
}

tr#rodape {
	height: 10%;
}

.hcentered {
	display: -webkit-box; 
	-webkit-box-pack: center;
}

#error {
 	opacity: 100;
 	position: relative;
 	background-color: #FFEEEE;
 	width: 100%;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	color: #991111;
 	font-family: Arial;
 	font-size: 35px;
 	font-weight: bold;
 	text-align: center; 
 }


/* ********************************* LOGIN ********************************** */

#loginContainer {
	position: relative; 
}

#login {
	font-family: Arial;
	font-size: 40px;
}

td.loginLabel {
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	vertical-align: middle;
	color: #333333;
	font-size: 30px;
}

input.loginFields {
	
	width: 300px;
	height: 40px;

	color: #333333;
	font-family: Arial;
	font-size: 25px;
}

td.loginButtons {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

input.loginButtons {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #112211;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 35px;
}

input:active.loginButtons {
	background-color: #777777;
}

td.createAccountButton {
	padding: 15px;
	text-align: center;
}

input#createAccount {
	background-color: #223322;
	font-size: 20px;
}

input:active#createAccount {
	background-color: #777777;
}

/* Password */
.webkit input[type="password"]
{
  font: large Verdana,sans-serif;
  letter-spacing: 1px;
 }


 /* **************************** DEFINICOES ********************************* */

h1#settingsTitle {
	color: #112211;
	font-family: Arial;

}


/* ******************************** SIDEBAR ********************************* */

#sbarlogo img {
	width: 80%;
}

#logout img {
	width: 45%;
}

#logout {
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	color: #E2F3C1;
}

#settings img {
	width: 70%;
}

#edit img {
	width: 55%;
}

#help img {
	width: 65%;
}


.sbaritem {
	background-color: #112211;
	border: solid 2px #001100;
	border-left: solid 4px #001100;
	border-right: solid 4px #001100;
	width: 95%;
	height: 25%;
	text-align: center;
	/* Safari, Chrome, and Opera */
  	display: -webkit-box;
	-webkit-box-pack: center; 
	-webkit-box-align: center;
}

.sbaritem:link, .sbaritem:visited, .sbaritem:hover {
	background-color: #112211;
	border: solid 2px #001100;
	border-left: solid 4px #001100;
	border-right: solid 4px #001100;
}

.sbaritem:active {
	background-color: #223322;
	border: solid 2px #112211;
	border-left: solid 4px #112211;
	border-right: solid 4px #112211;
}

.toggle {
	display: none;
	position: absolute; 
	z-index: 100;
	left: 155px;
	bottom: 15%;
 	width: 80%;
 	height: 80%;	
 	background-color: #FFFFCC;
}


/* ******************************** PLANTA ********************************** */

 #submain {
 	position: relative;
 	width: 75%;
}

#planta img {	
	max-width: 100%;
	position: relative;
}

.item {
	max-width: 100%;
	position: absolute;
	z-index: 1;
}

#quarto1 {
	width: 36.5%;       /**/
	height: 45%;        /**/
	left: 0.5%;         /**/
	top: 1%;            /**/
	padding-top: 2%;
}


#quarto1 img {
	width: 25%;
	margin-left: 35%;
	margin-top: 6%;
}


#quarto1 .caption {
	width: 90%;
	margin-left: 2%;  /**/
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#quarto2 {
	width: 40%;
	height: 45%;
	left: 59%;
	top: 1%;
	padding-top: 2%;
}


#quarto2 img {
	width: 25%;
	margin-left: 40%;
	margin-top: 6%;
}


#quarto2 .caption {
	width: 90%;
	margin-left: 8%;
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#sala {
	width: 36.5%;
	height: 45%;
	left: 0.5%;
	top: 50%;
	padding-top: 2%;
}


#sala img {
	width: 25%;
	margin-left: 35%;
	margin-top: 5%;
}


#sala .caption {
	width: 90%;
	margin-left: 2%;
	margin-top: 5%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#cozinha {
	width: 40%;
	height: 45%;
	left: 59%;
	top: 50%;
	padding-top: 2%;
}


#cozinha img {
	width: 25%;
	margin-left: 40%;
	margin-top: 5%;
}


#cozinha .caption {
	width: 90%;
	margin-left: 8%;
	margin-top: 3%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


#casaBanho {
	width: 21%;
	height: 31%;
	left: 37.5%;
	top: 1%;
}


#casaBanho img {
	width: 32%;
	margin-left: 35%;
	margin-top: 7%;
}


#casaBanho .caption {
	width: 90%;
	margin-left: 6%;
	margin-top: 2%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}


/* ******************************** DIVISOES ********************************** */

table#currentLocation {
	width: 75%;
}

td#back {
	width: 25%;
}

td#divisionTitle {
	text-align: right;
	border-bottom: solid 2px #112211;
	color: #112211;
	font-family: Arial;	
	font-weight: bold;
}

#path {
	font-size: 14pt;
}

#location {
	font-size: 24pt;
}

#submainDivision {
	position: absolute;
	margin-left: 11%;
	width: 65.5%;
	height: 72%;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 20;
}

.itemContainer {
	position: absolute; 
}

.itemContainer img {
    max-height: 87%;
}

#wl1{
	width: 5%;
	height: 55%;
	position: absolute; 
	z-index: 1; 
	left: 70%;
	top: 0%;
}

#sc1{
	width: 5%;
	height: 50%;
	position: absolute; 
	z-index: 1; 
	left: 90.2%;
	top: 40%;
}

#sc2{
	width: 7%;
	height: 20%;
	position: absolute; 
	z-index: 1; 
	left: 46.5%;
	top: 20%;
}

#st1{
	width: 11%;
	height: 23%;
	position: absolute; 
	z-index: 1; 
	left: 74.5%;
	top: 42%;
}

#cf1{
	width: 10%;
	height: 95%;
	position: absolute; 
	z-index: 1; 
	left: 17%;
	top: 6%;
}

#cl1{
	width: 1.7%;
	height: 9%;
	position: absolute; 
	z-index: 1; 
	left: 9.2%;
	top: 7%;
}

#cl2{
	width: 1.5%;
	height: 10%;
	position: absolute; 
	z-index: 1; 
	left: 78%;
	top: 30%;
}

#cl3{
	width: 4.5%;
	height: 10%;
	position: absolute; 
	z-index: 1; 
	left: 86.2%;
	top: 0%;
}

#q1l1{
	width: 4.5%;
	height: 36%;
	position: absolute; 
	z-index: 1; 
	left: 84.5%;
	top: 46%;
	z-index: 5;
}

#q1e1{
	width: 4%;
	height: 50%;
	position: absolute; 
	z-index: 1; 
	left: 50%;
	top: 18%;
}

#q1e2{
	width: 7%;
	height: 50%;
	position: absolute; 
	z-index: 1; 
	left: 58.3%;
	top: 18%;
}

#q1e3{
	width: 4%;
	height: 44%;
	position: absolute; 
	z-index: 1; 
	left: 66%;
	top: 21%;
}

#q1e4{
	width: 9%;
	height: 48%;
	position: absolute; 
	z-index: 1; 
	left: 71%;
	top: 21%;
}

#q1e5{
	width: 7%;
	height: 51%;
	position: absolute; 
	z-index: 1; 
	left: 80.5%;
	top: 20%;
}


#q2l1{
	width: 5%;
	height: 12%;
	position: absolute; 
	z-index: 1; 
	left: 37.5%;
	top: 19%;
}

#q2l2{
	width: 5%;
	height: 14%;
	position: absolute; 
	z-index: 1; 
	left: 57%;
	top: 17%;
}

#q2e1{
	width: 5%;
	height: 100%;
	position: absolute; 
	z-index: 1; 
	left: 16%;
	top: 0%;
}

#q2e2{
	width: 14%;
	height: 52%;
	position: absolute; 
	z-index: 1; 
	left: 22%;
	top: 1%;
}

#q2e3{
	width: 14%;
	height: 50%;
	position: absolute; 
	z-index: 1; 
	left: 63%;
	top: 0.5%;
}

#q2e4{
	width: 4%;
	height: 100%;
	position: absolute; 
	z-index: 1; 
	left: 77%;
	top: 0%;
} 


/* ******************************** EDITAR ********************************** */

.imagemAlt{
	height: 30%;
}

#imagemEscolher{
	display: none;
	position: absolute; 
	z-index: 110;
	left: 155px;
	bottom: 15%;
	width: 50%;
	height: 50%;
	background-color: #FFCCCC;
}

#imagens{
	width: 100%;
	height: 60%;
	overflow-y: scroll;
	overflow-x: hidden;
}


/* ******************************** SWITCH ********************************** */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000000; border-radius: 5px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #94C600; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #112211; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    width: 35px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #000000; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 51px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Blind Slider */
input[type="range"]#volume_set_slider{
    -webkit-appearance: none;
    background-color: #112211;
    width: 200px;
    height: 20px;			    
    z-index: 0;
}

input[type="range"]#volume_set_slider::-webkit-slider-thumb {
    -webkit-appearance: none;			    
    background-color: #94c600;
    opacity: 1.0;
    width: 25px;
    height: 50px;
}