/* ************************************************************************** */
/* ************************** Managing Your Home **************************** */
/* ************************************************************************** */


/* ****************************** Grupo 302 ********************************* */


/* ******************************** GENERAL ********************************* */

body {
	font-family: Arial;
}

td#container {
	background-color: #E2F3C1;
	position: relative; 
	width: 100%;
	height: 100%;

	text-align: center; 
	vertical-align: middle;
}

#logo {
	width: 30%;
	margin-bottom: 15px;
}

table#layout {
	width: 100%;
	height: 100%;
}

td#sidebar {
	width: 150px;
}

td#main {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
}

 #error {
 	opacity: 0;
 	position: relative;
 	background-color: #FFEEEE;
 	width: 100%;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	color: #991111;
 	font-family: Arial;
 	font-size: 35px;
 	font-weight: bold;
 }


/* ********************************* LOGIN ********************************** */

#loginContainer {
	position: relative; 

}

#login {
	font-family: Arial;
	font-size: 40px;
}

td.loginLabel {
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	vertical-align: middle;
	color: #333333;
	font-size: 30px;
}

input.loginFields {
	
	width: 300px;
	height: 40px;

	color: #333333;
	font-family: Arial;
	font-size: 25px;
}

td.loginButtons {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

input.loginButtons {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #112211;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 35px;
}

input:active.loginButtons {
	background-color: #777777;
}

td.createAccountButton {
	padding: 15px;
	text-align: center;
}

input#createAccount {
	background-color: #223322;
	font-size: 20px;
}

input:active#createAccount {
	background-color: #777777;
}

/* Password */
.webkit input[type="password"]
{
  font: large Verdana,sans-serif;
  letter-spacing: 1px;
 }



/* ********************************* PLANTA ********************************** */


 #submain {
 	position: relative;
 	margin-left: 10%;
 	width: 80%;
	background-color: #00CC00; 
}

.item img {	
	max-width: 100%;
	width: 10%;
	position: absolute;
	z-index: 1;
}

.itemContainer img {	
	max-width: 100%;
	position: relative;
}

